<div class="ui centered stackable grid">
  <div class="row">
      <h2>Search Users</h2>
  </div>
  <div class="row">
    <div class="twelve wide column">
      <%= form_with url: search_friend_path, method: :get, local: false do |form| %>
        <div class="ui segment">
          <div class="ui large form">
            <div class="ui field search">
              <div class="ui action input">
                <%= form.text_field :friend, placeholder: "Name or email", autofocus: true %>
                <%= form.button type: "submit", class: "ui green icon button" do %>
                  <i class="large search icon"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="results" class="row">

  </div>

  <div class="row">
    <div class="twelve wide column">
      <% if !@friends.empty? %>
        <%= render "friends/list"%>
      <% end %>
    </div>
  </div>
</div> 