@import 'semantic-ui';
@import 'semantic-ui/collections/menu';

.field_with_errors {
  @extend .field;
  @extend .error;
}

.item {
  font-size: 1.2rem;
}

.main.container {
  margin-top: 8em;
}

.results-block {
  display: block;
  margin-bottom: 1rem;
}

@media screen and (max-width: 630px) {
  .item {
    font-size: x-small;
  }
  .large.header.item {
    font-size: small;
  }
}
