<% if notice %>
  <div class="ui success message">
    <i class="close icon"></i>
    <div class="header">
      <%= notice %>
    </div>
  </div>
<% end %>

<% if alert %>
  <div class="ui red message">
    <i class="close icon"></i>
    <div class="header">
      <%= alert %>
    </div>
  </div>
<% end %>


