<div class="ui fixed inverted blue menu">
  <div class="ui container">
    <div class="ui large header item">TRACKER APP</div>
      <div class="ui dropdown item">
        <div class="text">File</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">New</div>
          <div class="item">Make a copy</div>
          <div class="item">
            <i class="folder icon"></i>
            Move to folder
          </div>
          <div class="item">
            <i class="trash icon"></i>
            Move to trash
          </div>
          <div class="divider"></div>
          <div class="item">Download As...</div>
          <div class="item">
            <i class="dropdown icon"></i>
            Publish To Web
            <div class="menu">
              <div class="item">Google Docs</div>
              <div class="item">Google Drive</div>
              <div class="item">Dropbox</div>
              <div class="item">Another Service...</div>
            </div>
          </div>
        </div>
      </div>
      <a class="item">
        Messages
      </a>
      <a class="item">
        Friends
      </a>
      <div class="right menu">
        <div class="item">
          <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="search link icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>